.blogContainer{
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    
}
.post img{
    max-width: 100%;
}
.post {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 35px;
}
.DisplayBlog{

    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 85%;
    margin: auto;
    gap: 20px;
    
}
.blogHeading{
    text-align: center;
    margin-bottom: 12px;
    background-color: #24555886;
}
.post.image {
    width: 40%;
}
.texts h2 {
    margin: 0;
    font-size: 1.5rem;
    color: black;
}
.post .info {
    margin: 6px 0px;
    color: #888;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    
    gap: 10px;
}
.post .info .author {
    color: #333;

}
.post .summary{
    margin: 10px 0;
    line-height: 1.4rem;
}
@media (max-width: 768px){

    .post{
        grid-template-columns: 1fr;
    }
    .DisplayBlog{

        display: grid;
        grid-template-columns: 1fr;
        max-width: 700px;
        margin: auto;
        gap: 20px;
        width: 85%;
    }
}