.categoryMain {
    padding: 20px;
  }
  
  
  .carCategoryText {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  .carOptionsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  
  .carOption {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .carOption img{
  height: 55px;
  max-width: 90px;
  margin: auto;
  }
  
  .carOption h2 {
    font-size: 18px;
    text-align: center;
  }
  
  
  .carOption img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  
  .carOption button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .facilities-category{
    width: 50%;
    margin: auto;
  }
  /* Adjust the styles for mobile view */
  @media (max-width: 768px) {
    .carOptionsContainer {
      grid-template-columns: 1fr;
    }
  }
  