/* styles.module.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
  }
  
  .postPage {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
  }
  
  .postPage h1 {
    text-align: center;
    font-size: 2rem;
  }
  
  .imagePost img {
    max-width: 100%;
    object-fit: contain;
  }
  
  .imagePost {
    max-height: 400px;
    overflow: hidden;
    margin-top: 1rem;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .container {
      padding: 1rem;
    }
  
    .postPage {
      padding: 1rem;
    }
  
    .postPage h1 {
      font-size: 1.5rem;
    }
  
    .imagePost {
      max-height: 300px;
    }
  }
  