/* Cta.css */

/* Background image and overlay styles */
.bgimghero {
    background: linear-gradient(to right, #8e44ad, #3498db); /* Purple gradient */
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 50px 0; /* Adjust padding to your liking */
  }
  
  .bgimghero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.6); Add an overlay for better text readability */
  }
  
  /* Text styles */
  .textwhite {
    color: #ffffff;
    margin-left: 2rem;
  }
  
  .collg7 h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
   
    
  }
  
  .lead {
    font-size: 20px;
    font-weight: 400;
  }
  
  /* Button styles */
  .textlgright .btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 1rem;
    position: relative; /* Set the position to enable z-index */

  }
  .textlgright{
    margin-left: 1rem;
  }
  .btnpurple {
    background-color: #6c2a88;
    color: #ffffff;
  }
  
  .btnlight {
    background-color: #ffffff;
    color: #333333;
  }
  .btnlearnmore:hover {
    background-color: #000000; /* Change to black on hover */
  }
  @keyframes glowing {
    0% {
      background-color: #000000;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
      color: #ffffff;
    }
    50% {
      background-color: #000000;
      box-shadow: 0 0 20px #ffebd4, 0 0 30px #ffddac, 0 0 40px #ffc379;
      color: #ffffff;
    }
    100% {
      background-color: #000000;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
  }
  
  /* Apply the glowing animation to the Learn More button */
  .btnlight.btnglowing {
    animation: glowing 1s ease-in-out infinite; /* Adjust the duration and animation timing as desired */
  }