.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20000;
   
}


.modal-content {
    background-color: #fff;
    max-width: 80%;
    max-height: 92%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;  */
    overflow-y: auto;
   
}
.catheading-modal{
   
    text-align: center;
 padding-top: 0rem;
 margin-top: 0rem;
}
.catpara-modal{
    text-align: center;
}
.close-btn {
    background: none;
    border: none;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin-top: 0px;


    cursor: pointer;


}


.close-btn:hover {
    color: #333;
}


.slider-item {


    padding: 20px;
    text-align: center;
    margin: auto;
    /* Add some margin for space between items */
    /* display: flex;
    justify-content: center; */
    margin-left: 33%;
    /* margin-right: 40% ; */
}


.slider-item h1 {
    /* font-size: 70px; */
    font-weight: 650;
    background-color: #000;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.BookNow-btn {
    cursor: pointer;
    display: flex;
    margin-left: 9.5%;
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    transition: all 500ms;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    /* outline: 2px solid #2c9caf; */
    outline: 2px solid #000;
    width: 33%;
    margin: auto;
    margin-bottom: 12px;
}


.BookNow-btn:hover {
    color: #ffffff;
    transform: scale(1.1);
    /* outline: 2px solid #70bdca; */
    outline: 2px solid #000;
    box-shadow: 4px 5px 17px -4px #268391;
}


.BookNow-btn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    /* background-color: #2c9caf; */
    background-color: #000;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}


.BookNow-btn:hover::before {
    width: 250%;
}


.slider-item-p {
    display: flex;
}


.slick-prev:before,
.slick-next:before {
    color: #000;
    font-size: 24px;
}


.slider-item img {
    height: 350px;
}


@media (max-width: 1100px) {
    .slider-item {
        margin-left: 25%;


    }
}
