* {
  box-sizing: border-box;
  background-color:  #E5EDF1;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

:root {
  --primary-color: #FFD43A;
  --secondary-color: #24344d;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family:'Poppins', sans-serif !important;
}
input{
  border-bottom: 1px solid black !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  padding: 2px !important;
  border-radius: 0 !important;
}
@media(max-width : 900px){
  input{
    /* font-size: 1rem; */
    width: 200px;
  }
}
